#tab {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#tab tr:nth-child(even) {
	background-color: #ddd;
}

#tab tr:hover {
	background-color: #ddd;
}

#tab td,
#customers th {
	border: 1px solid black;
	padding: 8px;
}

#tab th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04AA6D;
	color: black;
}